<table>
<% for y in 0..@grid.height-1 %>
	<tr>
	<% for x in 0..@grid.width-1 %>
		<td><%= @grid.get(x, y) %></td>
	<% end %>
	</tr>
<% end %>
</table>

<% @words.each do |word| %>
<div><%= word %></div>
<% end %>

<%= javascript_tag do %>
	var rows = $('tr');
	var words = <%= raw @json %>;
	$.each(words, function() {
		
	});
<% end %>
