<table>
<% for y in 0..@grid.height-1 %>
	<tr>
	<% for x in 0..@grid.width-1 %>
		<td><div style="position:relative"><%= @grid.get(x, y) %></div></td>
	<% end %>
	</tr>
<% end %>
</table>

<% @words.each do |word| %>
<div><%= word %></div>
<% end %>

<%= javascript_tag do %>
  words = <%= raw @json %>;
<% end %>
