<!DOCTYPE html>
<html>
<head>
  <title>RandomWordSearch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
  <link rel="stylesheet" href="https://googledrive.com/host/0B4egqoKBN1iebVFFU2V0VW9Rd00" /><!--disableTextSelect.css-->
  <script src="https://googledrive.com/host/0B4egqoKBN1ieLTF6RV8wVGQ4RUE"></script><!--format.js-->
</head>
<body>

<%= yield %>

</body>
</html>
